div {
    height: 20px;
    width: 450px;
    font-size: 15px;
}

.innerElement {
    border: 1px solid black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px
}
